<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                    	<table>
                    		<tr>
	                    		<td>
	                    			<img src="/uploads/<%= accountUser.personal.profileImageName %>" height="42" width="42">
	                    		</td>
	                    		<td>
	                    			<form id="update_profile_image" action="upload_profile_image/" method="POST" enctype="multipart/form-data">
	    		                		<strong>Upload new profile image...</strong>
		        	            		<input type="file" name="profileImage">
		                    			<input class="btn btn-default btn-sm" type="submit" value="Update Profile Image" form="update_profile_image">
	                    			</form>
	                    		</td>
	                    	<tr>
                    	</table>
                    
                    	<br>
                    	<br>
                    	
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                        
                        <br>
                        <br>
                        
                        <form id="update_user" action="update_user/" method="POST">
                        	<strong>nickname</strong>
                        	<input type="text" name="new_nickname" value="<%= accountUser.personal.nickname %>">
                        	<input class="btn btn-default btn-sm" type="submit" value="Update information" form="update_user">
                        </form>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>

